# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv

# IDE specific
.vscode/
.idea/

# Build & dependency artifacts
build/
dist/
*.egg-info/

# Temporary & Output files
/output/
timeline_error_dump.json
